<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <!--<link rel="stylesheet" href="{{ "/css/academicons.css" | relURL }}"/>-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ .Site.Title }}</h1>
		
		<!-- begin photo -->
        {{ with .Site.Params.logo }}
			<img src="{{ . | relURL }}" alt="Logo" />
        {{ end }}
		<!-- end photo -->

        <!-- begin short bio -->
        <p>{{ .Site.Params.shortbio }}</p>
        <!-- end short bio -->
		
        <div class="compact-sidebar">
		<!-- begin electronic post -->
        <p>
          <img src="{{ "/icons/mail-symbol.svg" | relURL }}" class="octicons">
            {{ partial "mail.html" . }}
        </p>
		<!-- end electronic post -->

        <!-- begin physical location -->
        <p>
          <img src="{{ "/icons/location-symbol.svg" | relURL }}" class="octicons">
          <a href="{{ .Site.Params.officeMapLink }}" target="_blank">
              {{ .Site.Params.officeAddress }}
          </a>
        </p>
        <!-- end physical location -->

        <!-- begin openpgp public key -->
        <p>
          <img src="{{ "/icons/key-symbol.svg" | relURL }}" alt="OpenPGP:" class="octicons">
            <a href="{{ .Site.Params.PGPPubkeyLink }}" target="_blank">
                <span class="pgp-fingerprint"><span>{{- slicestr .Site.Params.PGPFingerprint 0 4 -}}</span><span>{{- slicestr .Site.Params.PGPFingerprint 4 8 -}}</span><span>{{- slicestr .Site.Params.PGPFingerprint 8 12 -}}</span><span>{{- slicestr .Site.Params.PGPFingerprint 12 16 -}}</span></span>
            </a>
        </p>
        <!-- end openpgp public key-->

        {{ with .Site.Params.ORCID }}
        <!-- begin orcid -->
        <p>
          <img src="{{ "/icons/orcid-black.svg" | relURL }}" class="octicons">
          <a href="https://orcid.org/{{ . }}" target="_blank">
              orcid.org/{{ . }}
          </a>
        </p>
        <!-- end orcid -->
        {{ end }}

        </div>
		
		<hr/>
        {{ partial "sidebar.html" . }} 
      </header>
