<h3 style="margin:50px 0 10px;">{{ .context.title }}</h3>

{{ with .context.coauthors }}<p style="margin:0 0 10px;">(with {{ . }})</p>{{ end }}

{{ with .context.note }}<p style="margin:0 0 10px;">{{ . }}</p>{{ end }}
<p style="margin:0 0 10px;">
{{ with .context.bookprefix }}<em>{{ . }}</em>{{ end }}{{ with .context.book }}<em><u>{{ . }}</u></em>{{ end }}{{ with .context.booksuffix }}<em>{{ . }}</em>{{ end }}
</p>
{{ $pid := .pid }}
{{ with .context.abstract }}<p style="margin:0 0 10px;"><a href="javascript:toggle({{ $pid }})">Abstract<span id="pubabslink_{{ $pid }}"> (click to expand)</span></a><span id="pubabs_{{ $pid }}" style="display:none;">: {{ . }}</span></p>{{ end }}

<p style="margin:0 0 10px;">
{{ with .context.pdflink }}[<a href="{{ . }}" target="blank">PDF</a>]{{ end }}
{{ with .context.links }}
{{ range . }}
[<a href="{{ .url }}" target="blank">{{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}]
{{ end }}
{{ end }}
</p>

