<p class="contactinfo"><a href="{{ "#bio" | relURL }}">Bio</a></p>
{{/*
<p class="contactinfo"><a href="{{ "#contact" | relURL }}">Contact</a></p>
<p class="contactinfo"><a href="{{ "#publications" | relURL }}">Publications</a></p>
<p class="contactinfo"><a href="{{ "#workingpapers" | relURL }}">Working Papers</a></p>
<p class="contactinfo"><a href="{{ "#workinprogress" | relURL }}">Work in Progress</a></p>
<p class="contactinfo"><a href="{{ "#fromanotherlife" | relURL }}">From Another Life</a></p>
<p class="lastcontactinfo"><a href="{{ "#personal" | relURL }}">Personal</a></p>
*/}}
