{{ define "main" -}}
{{ .Content }}
    {{ range .Site.Data.publications }}
    {{ with .journal }}
    <h3>Journal Articles</h3>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "Lei Yang" "<em>Lei Yang</em>" ) ", " }}<br>
        {{ .book }}, {{ with .month }}{{ dateFormat "January" . }} {{ end }}{{ .year }}
        {{ with .remarks }}
        - <strong>{{ with .link }}<a href="{{ . }}" target="blank">{{ end }}{{ .text }}{{ with .link }}</a>{{ end }}</strong>
        {{ end }}
    </p>
    {{ end }}
    {{ end }}
    {{ end }}
{{- end }}
