{{ define "main" -}}
{{ .Content }}
    {{ range .Site.Data.publications }}
    {{ with .preprint }}
    <h3>Preprints</h3>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "Lei Yang" "<em>Lei Yang</em>" ) ", " }}<br>
        {{ .date }}
        {{ with .remarks }}
        - <strong>{{ with .link }}<a href="{{ . }}" target="blank">{{ end }}{{ .text }}{{ with .link }}</a>{{ end }}</strong>
        {{ end }}
        {{ with .links }}
        <br>{{ range first 1 . }}<a href="{{ .link }}" target="blank">{{ .text }}</a>{{ end }}{{ range after 1 . }}, <a href="{{ .link }}" target="blank">{{ .text}}</a>{{ end }}
        {{ end }}
    </p>
    {{ end }}
    {{ end }}
    {{ with .conference }}
    <h3>Conference Proceedings</h3>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "Lei Yang" "<em>Lei Yang</em>" ) ", " }}<br>
        {{ .book }}, {{ .date }}
        {{ with .remarks }}
        - <strong>{{ with .link }}<a href="{{ . }}" target="blank">{{ end }}{{ .text }}{{ with .link }}</a>{{ end }}</strong>
        {{ end }}
        {{ with .links }}
        <br>{{ range first 1 . }}<a href="{{ .link }}" target="blank">{{ .text }}</a>{{ end }}{{ range after 1 . }}, <a href="{{ .link }}" target="blank">{{ .text}}</a>{{ end }}
        {{ end }}
    </p>
    {{ end }}
    {{ end }}
    {{ with .journal }}
    <h3>Journal Articles</h3>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "Lei Yang" "<em>Lei Yang</em>" ) ", " }}<br>
        {{ .book }}, {{ .date }}
        {{ with .remarks }}
        - <strong>{{ with .link }}<a href="{{ . }}" target="blank">{{ end }}{{ .text }}{{ with .link }}</a>{{ end }}</strong>
        {{ end }}
        {{ with .links }}
        <br>{{ range first 1 . }}<a href="{{ .link }}" target="blank">{{ .text }}</a>{{ end }}{{ range after 1 . }}, <a href="{{ .link }}" target="blank">{{ .text}}</a>{{ end }}
        {{ end }}
    </p>
    {{ end }}
    {{ end }}
    {{ end }}
{{- end }}
